<!DOCTYPE html>
<html lang="en">
<head>
	<title>MongoScrapper</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cormorant+SC" class="href">
	<link rel="stylesheet" href="../../assets/css/style.css" class="rel">
</head>
<body>

	{{{body}}}
	
</body>
</html>